@page
@model Torneo.App.Frontend.Pages.Dts.EditModel
@{
}
<h1>Editar Director Tecnico</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="DT.Id"></label>
        <input asp-for="DT.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="DT.Nombre"></label>
        <input asp-for="DT.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DT.Documento"></label>
        <input asp-for="DT.Documento" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DT.Telefono"></label>
        <input asp-for="DT.Telefono" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Editar DT</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>