@page
@model Torneo.App.Frontend.Pages.Posiciones.EditModel
@{
}
<h1>Editar posicion</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="posicion.Id"></label>
        <input asp-for="posicion.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="posicion.Nombre"></label>
        <input asp-for="posicion.Nombre" type="text" class="form-control" minlength="1" maxlength="30" pattern="[A-Za-z]+\' '"
        title="Solo Letras. Tamaño máximo: 40">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Editar posicion</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>