@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}
<h1>Listado de posiciones</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var posicion in Model.posiciones)
        {
            <tr>
                <th>@posicion.Id</th>
                <td>@posicion.Nombre</td>
            </tr>
        }
    </tbody>
</table>
