@page
@model Torneo.App.Frontend.Pages.Municipios.IndexModel
@{
}
<h1>Listado de municipios
<a class="btn btn-primary" asp-page="./Create">Crear municipio</a>
</h1>
<table class="table table-hover table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var municipio in Model.municipios)
        {
            <tr>
                <th>@municipio.Id</th>
                <td>@municipio.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@municipio.Id">
                        Detalle
                    </a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@municipio.Id">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
